<% jst = (defined? jst) ? jst : false %>
<tr>
    <td>
      <%= jst ? js("book.title") : book[:title] %>
    </td>
    <td>
      <% if(jst) %>
        <%= js("author.first") %> <%= js("author.last") %>
      <% else %>
        <%= book[:author][:first] %> <%= book[:author][:last] %></td>
      <% end %>
  <td><%= book[:year] %></td>
</tr>
